<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link href="css/back.css" rel="stylesheet"/>

</head>
<body>
<!--<table border="1" align="center"><p/>-->
    <!--<form action="addSuccessfulNewCars" th:object="${comparePhotoNameCarWithDB}" method="post">-->

    <!--<p/>-->
    <!--<p/><br/>-->
    <!--<tr >-->
        <!--<td>Path to photo </td>-->
        <!--<td><input class="buttons" type="text" style="width: 255px" name="photoCars" id="photoCras"-->
                  <!--value="cars/"/> </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>Name Cars </td>-->
        <!--<td><input class="buttons" type="text"-->
                   <!--th:field="*{name}" style="width: 255px"  id="name_Cars"/>-->

           <!--<span style="font-style: italic; font-size: 10px"-->
                 <!--th:if="${#fields.hasErrors('name')}"  th:errors="*{name}">Errore</span></td>-->

    <!--</tr>-->
    <!--<tr>-->
        <!--<td>Describe about cars</td>-->
        <!--<td><textarea class="buttons" rows="8" cols="35" name="describeCars" id="describeCars" maxlength="455"-->
                      <!--placeholder="max length 255"></textarea></td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>Quantity cars in warehouse </td>-->
        <!--<td><input type="number" style="width: 255px" class="buttons" min="1" value="1" name="quantityCars" id="quantityCars"/> </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>Price </td>-->
        <!--<td><input type="text" class="buttons" style="width: 255px" pattern="[0-9]{5,7}" value="1" name="priceCars" id="priceCars"/> </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--&lt;!&ndash;<form action="../yacht.html">&ndash;&gt;-->

        <!--<td colspan="2" align="right">-->
        <!--<input type="submit" class="buttons" style="width: 65px" name="enter" id="enter" value="Enter"/> </td>-->

    <!--</tr>-->
    <!--</form>-->
<!--</table>-->
<table border="1" align="center" ><p/>
    <form action="addSuccessfulNewCars" th:object="${comparePhotoNameCarWithDB}" method="post">

        <p/>
        <p/><br/>
        <tr >
            <td>Path to photo </td>
            <td><input class="buttons" type="text" style="width: 255px" name="photoCars" id="photoCras"
                       th:field="*{photo}" value="cars/"/> </td>
        </tr>
        <tr>
            <td>Name Cars </td>
            <td><input class="buttons" type="text" th:field="*{name}"

                       style="width: 255px" name="nameCars" id="nameCars"/>
                <span style="font-style: italic; font-size: 10px"
                th:if="${#fields.hasErrors('name')}"  th:errors="*{name}">Errore</span>

            </td>
        </tr>
        <tr>
            <td>Describe about cars</td>
            <td><textarea class="buttons" rows="8" cols="35" th:field="*{descriptions}" name="describeCars"
                          id="describeCars" maxlength="455"
                          placeholder="max length 255"></textarea></td>
        </tr>
        <tr>
            <td>Quantity cars in warehouse </td>
            <td><input type="number" style="width: 255px" th:field="*{quantity}" class="buttons" min="1" value="1" name="quantityCars" id="quantityCars"/> </td>
        </tr>
        <tr>
            <td>Price </td>
            <td><input type="text" class="buttons" style="width: 255px" th:field="*{price}" pattern="[0-9]{5,7}" value="1" name="priceCars" id="priceCars"/> </td>
        </tr>
        <tr>
            <!--<form action="../yacht.html">-->

            <td colspan="2" align="right">
                <input type="hidden" th:field="*{idForEditAdd}"/>
                <input type="submit" class="buttons" style="width: 65px" name="enter" id="enter" value="Enter"/> </td>

        </tr>
    </form>
</table>
</body>
</html>