<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link href="css/back.css" rel="stylesheet"/>

</head>
<body>


<table border="1" align="center"><p/>
    <form action="addSuccessfulNewWhisky" method="post">

    <p/>
    <p/><br/>
    <tr>
        <td>Path to photo </td>
        <td><input class="buttons" type="text" style="width: 255px" name="photoWhisky" id="photoWhisky"
                    value="whisky/"/> </td>
    </tr>
    <tr>
        <td>Name Yacht </td>
        <td><input class="buttons" type="text" style="width: 255px" name="nameWhisky" id="nameWhisky"/> </td>
    </tr>
    <tr>
        <td>Describe about yacht</td>
        <td><textarea class="buttons" rows="8" cols="35" name="describeWhisky" id="describeWhisky" maxlength="455"
                      placeholder="max length 255"></textarea></td>
    </tr>
    <tr>
        <td>Quantity yachts in warehouse </td>
        <td><input type="number" style="width: 255px" min="1" value="1" name="quantityWhisky" id="quantityWhisky"/> </td>
    </tr>
    <tr>
        <td>Price </td>
        <td><input type="text" style="width: 255px" pattern="[0-9]{2,4}" value="1" name="priceYacht" id="priceWhisky"/> </td>
    </tr>
    <tr>
        <!--<form action="../yacht.html">-->

        <td colspan="2" align="right">
        <input type="submit" class="buttons"  style="width: 65px" name="enter"
               id="enter" value="Enter"/> </td>

    </tr>
    </form>
</table>

</body>
</html>