<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link href="css/back.css" rel="stylesheet"/>
    <script src="js/jquery-1.12.3.min.js" ></script>
    <script src="js/adminParams.js"></script>


</head>
<body class="centered">

<table border="1"><form method="post">
<!--<form action="okYouDoIt" method="post">-->
    <tr>
        <td>Name</td>
        <td>Admin</td>
        <td>Moderator</td>
        <td>User</td>
    </tr>
    <tr th:each="names : ${namesUsersInDB}">
        <td width="100" th:text="${names.name}">
            <input type="hidden" id="nameUser" name="nameUser" th:value="${names.name}" />

            Name</td>
        <td align="center">
            <input type="checkbox"
            id="Admin"
            /></td>
        <!--<td>Admin</td>-->
        <!--<td>Moderator</td>-->
        <!--<td>User</td>-->
        <td align="center">
            <input type="checkbox" id="Moderator" /></td>
        <td align="center">
            <input type="checkbox" th:attr="id=${names.name}" /></td>

        </tr>

<tr><td colspan="4" align="right">
    <input type="button" onclick="adminRights()" value="Apply"/></td> </tr>
</form>

</table>


</body>
</html>