<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="headerHtml :: header-libs">
</head>
<body class="centered">
    <script src="js/adminParams.js"></script>

<table border="1">
    <form method="post">

    <!--<form action="okYouDoIt" method="post">-->
        <tr>
            <td>Name</td>
            <td>Admin</td>
            <td>Moderator</td>
            <td>User</td>
        </tr>
        <tr th:each="user : ${adminRightsModel}">
            <td width="100">
                <span th:text="${user.name}"></span>
                <span th:attr="id='username_' + ${user.name}" style="display: none; color: red">
                    This user has incorrect settings
                </span>
            </td>

            <td th:each="role: ${user.roleDtos}" align="center">
                <input type="checkbox" th:attr="id=${user.name}+_+${role.nameRole}" th:checked="${role.applied}"/></td>
            <!--th:checked отвечает нажата ли галочка-->
        </tr>

        <tr><td colspan="4" align="right">
        <input type="button" onclick="adminRights()" value="Apply"/></td> </tr>
    </form>

    <div style="display: none" id="errors">
    </div>

</table>


</body>
</html>