<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link href="css/back.css" rel="stylesheet"/>
    <script src="js/jquery-1.12.3.min.js" ></script>
    <script src="js/cars.js" ></script>

</head>
<body >
<center>
<h2>Today we suggest next cars for purchase</h2>
<table border="1" >

    <tr>
        <td colspan="4" align="Right" >
            <input class="buttons" type="search" value="Search"/></td>
        <td align="center" colspan="3">
            <div align="right" sec:authorize="hasAuthority('admin')">
                I am an admin
            </div>
            <div align="right" sec:authorize="hasAuthority('user')">
                I am a user
            </div>

        <input class="buttons" onclick="addNewCar()" type="button" th:value="#{.key.Add}" style="width: 60px"/>
                &nbsp;&nbsp;&nbsp;
        <input class="buttons" type="submit" onclick="editCars()" th:value="#{.key.Edit}"
               style="width: 60px"/>&nbsp;&nbsp;&nbsp;

        <input class="buttons" onclick="deleteCars()"
               nameYachts="deleteProducts" type="button" value="Delete"/>

    </td> </tr>
    <tr align="center" style="font-weight: bold" >
        <td width="50"><input type="checkbox"/></td>
        <td>img</td>
        <td>Name</td>
        <td>Describe</td>
        <td>Quontity</td>
        <td>Price, Euro</td>
        <td>Buy</td>
    </tr>
    <tr th:each="cars : ${namesCars}">

        <td align="center">
            <input type="checkbox" th:attr="id=${cars.idCar}" /></td>
        <td>
        <img th:attr="src=${cars.photo}" width="400" height="280"/>
    </td>
        <td width="100" th:text="${cars.name}">Name</td>
        <td width="100" th:text="${cars.descriptions}">Describe</td>

        <!--<td align="center">-->
            <!--<input class="buttons" style="text-align: center" type="text" width="100" th:attr="value=${namesCars.quantity}"/>-->

        <td align="center"  width="100" th:text="${cars.quantity}">Quantity

        </td>

        <td align="center" width="100" th:text="${cars.price}">Price</td>

         <form action="bayCars"  method="post" >
        <td align="center" width="80">

            <input type="hidden" id="nameCarsHidden" name="nameCarsHidden" th:value="${cars.idCar}" />
                <input type="submit" class="buttons" name="useCar"  style="width: 60px" value="buy"/>
            <!--<input type="hidden" id="qCars" name="qCars" th:value="${Cars.quantity}" />-->
        </td>
        </form>

    </tr>

</table></center>
</body>
</html>