<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link href="css/back.css" rel="stylesheet"/>

</head>
<body class="back">
<form >
    <div align="right" th:if="${not #authorization.expression('isAuthenticated()')}">
    <a href="login.html">
        Registration
    </a></div>

    <div align="right" th:if="${#authorization.expression('isAuthenticated()')}"/>

    <div align="right" th:text="${#authentication.name}"/>
    <!--The value of the "name" property of the authentication object should appear here.-->


    <center>
         <h2 class="text">Wellcome on site Premium Things</h2>

   <p/><p/>
    <table border="0" cellpadding="10px">
        <tr><td><a href="saleCars"><img src="cars/alfaSml.jpg" width="400"/></a></td>
            <!--<td class="yachtFPg" width="300" height="191"></td>-->
            <td><a href="selectAndBuyYachts"><img src="yachts/yacht01sm.jpg" width="400"/></a></td>
            <td><a href="warehouseWhisky"><img src="whisky/glenDevSml.jpg" width="133"/></a></td>
        </tr>


    </table>
</center>
</form>
</body>
</html>