<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">


<head th:replace="headerHtml :: header-libs">
</head>
<body class="back">
<div align="right">
    <div th:replace="headerHtml :: header"></div>
</div>
<div th:if="${param.successful}" style="color: white; lighting-color: red">
    <h2 th:text="#{.key.successfulRegistration}">Your registration was successful</h2>
</div>

<center>
    <h2 class="text" th:text="#{welcome.message}">Wellcome on site Premium Things</h2>
   <p/><p/>
        <form>

            <table border="0" cellpadding="10px">
                <tr><td><a href="saleCars"><img src="cars/alfaSml.jpg" width="400"/></a></td>
                    <!--<td class="yachtFPg" width="300" height="191"></td>-->
                    <td><a href="selectAndBuyYachts"><img src="yachts/yacht01sm.jpg" width="400"/></a></td>
                    <td><a href="warehouseWhisky"><img src="whisky/glenDevSml.jpg" width="133"/></a></td>
                </tr>


            </table>
            <input type="button" sec:authorize="hasAuthority('admin')" onclick="AdminsRight()" value="AdminRights"/>
        </form>
</center>
</body>
</html>