<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<!--th:if="${not #authorization.expression('isAuthenticated()')} эта строка говорит, что пока нет авторизации показать кнопку -->
<!--Регистрация, после авторизации делает кнопку не активной-->
<div align="right">
<table align="right" border="1">
    <tr>
<td th:fragment="header" align="right" th:if="${not #authorization.expression('isAuthenticated()')}">
    <a id="login_register" class="btn btn-lg btn-default">
        Registration
    </a>
</td>

<td th:fragment="header" align="right" class="btn btn-lg btn-link"  th:if="${#authorization.expression('isAuthenticated()')}">
    <a href="/logout" >Logout</a>
</td>

   </tr>
</table>
</div>

</body>
</html>