<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link href="css/back.css" rel="stylesheet"/>
</head>
<body>
<h1 align="center">Wolrld of WHISKEY</h1>
<p/>
<p/>
<table align="center" border="1">
    <tr>
        <td align="center" width="100">Photo</td>
        <td align="center" width="100">Name</td>
        <td align="center" width="100">Describe</td>
        <td align="center" width="100">Available</td>
        <td align="center" width="100">Price</td>
    </tr>
    <tr th:each="viewAvailableWhisky : ${viewAvailableWhisky}">
        <td align="center" th:text="${viewAvailableWhisky.photo}">Photo</td>
        <td align="center" th:text="${viewAvailableWhisky.nameWhisky}">Name</td>
        <td align="center" th:text="${viewAvailableWhisky.describeWhisky}">Describe</td>
        <td align="center" th:text="${viewAvailableWhisky.quantityWhisky}">Quantity</td>
        <td align="center" th:text="${viewAvailableWhisky.priceWhisky}">Price</td>
        <td align="center">
            <input type="hidden" name="buttonBuyWhiskey" th:value="${viewAvailableWhisky.nameWhisky}"> Price</td>
            <input type="submit" class="buttons" name="buttonBuyWhiskey"> Price</td>
    </tr>






</table>

</body>
</html>