<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link href="css/back.css" rel="stylesheet"/>
    <script src="jquery-1.12.3.min.js" ></script>
    <script src="js/whisky.js"></script>
</head>
<body>

<h1 align="center">Wolrld of WHISKEY</h1>
<p/>
<p/>
<table align="center" border="1">

    <tr>

        <td colspan="5" align="right">
            <input type="search" name="searchWhisky" id="searchWhisky" placeholder="Search" class="buttons"/>
        </td>
        <td colspan="2" align="center">
            <!--<form>-->
            <input type="submit" style="width: 60px" name="addWhisky" id="addWhisky"
                onclick="addNewWhisky()" class="buttons" value="Add"/>
            <!--</form>-->
            <input type="submit" style="width: 60px" onclick="editInfoWhisky()" name="EditWhisky" id="EditWhisky"
                   class="buttons" value="Edit"/>
            <input type="submit" style="width: 60px" onclick="deleteSelectedElements()" name="DeleteWhisky" id="DeleteWhisky"
                   class="buttons" value="Delete"/>
        </td>
    </tr>
    <tr>
        <td align="center"><input type="checkbox" /></td>
        <td align="center" width="100">Photo</td>
        <td align="center" width="100">Name</td>
        <td align="center" width="100">Describe</td>
        <td align="center" width="100">Available</td>
        <td align="center" width="100">Price</td>
        <td align="center" width="100">Buy</td>
    </tr>
    <tr th:each="viewAvailableWhisky : ${viewAvailableWhisky}">
        <td align="center"><input type="checkbox" th:attr="id=${viewAvailableWhisky.nameWhisky}"/> </td>
        <td align="center">
            <img th:attr="src=${viewAvailableWhisky.photo}" width="150" height="250"/>
            </td>
        <td align="center" th:text="${viewAvailableWhisky.nameWhisky}">Name</td>
        <td align="center" th:text="${viewAvailableWhisky.describeWhisky}">Describe</td>
        <td align="center" th:text="${viewAvailableWhisky.quantityWhisky}">Quantity</td>
        <td align="center" th:text="${viewAvailableWhisky.price}">Price</td>

        <form action="buySelectedWhisky" method="post">
        <td align="center">
            <!--<form action="buySelectedWhisky" method="post">-->

            <input type="hidden" name="nameBuyWhiskey" id="nameBuyWhiskey"
                       th:value="${viewAvailableWhisky.nameWhisky}"/>
                <input type="submit" class="buttons" name="buttonBuyWhiskey" style="width: 60px" value="Buy"/>
            <!--</form>-->
        </td>
        </form>

    </tr>

</table>

</body>
</html>