<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.springframework.org/schema/security">

<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="css/back.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="js/yacht.js"></script>
</head>
<body>




<center>
    <h2>Form for Buy yachts</h2><p/>
<table border="1">
    <tr><td colspan="4" align="Right" ><input class="buttons" type="search" value="Search"/></td>
    <td colspan="3" align="center">
        <div align="right" sec:authorize="hasAuthority('admin')">
            I am an admin
        </div>
        <div align="right" sec:authorize="hasAuthority('user')">
            I am a user
        </div>
        <div align="right" sec:authorize="hasAuthority('moderator')">
            I am a moderator
        </div>

        <input class="buttons" sec:authorize="hasAuthority('admin')" type="button" onclick="addNewYacht()"
               value="Add" style="width: 70px" />
        <input class="buttons" sec:authorize="hasAuthority('admin')" type="button" onclick="editInfoYacht()"
               value="Edit" style="width: 70px"/>
        <!--<form action="/saleCars/delete" modelAttribute="deleteBtn" method="post" >-->
            <input class="buttons" sec:authorize="hasAuthority('admin')" name="deleteProducts"
                   onclick="deleteSelectedElements()"
                   type="submit" value="Delete" style="width: 70px"/>
    </td></tr>
        <tr>
            <td width="30" align="center">
                <input type="checkbox" name="selectAllCheckbox" id="selectAllCheckbox"/> </td>
            <td>Photo</td>
            <td>NameYacht</td>
            <td>Describe</td>
            <td>Quantity</td>
            <td>Price</td>
            <td>Buy</td>
        </tr>
    <tr th:each="viewSelectedYacht : ${viewSelectedYacht}">
        <td align="center">
            <input type="checkbox" name="selectYachtForChange" th:attr="id=${viewSelectedYacht.name}"/>
        </td>
        <td>
        <!--<a href="buyYachts?selectionYacht=${viewSelectedYacht.name}">-->
            <!--<a href="" onclick="buyYachtFromImg()">-->
            <form action="buyImgYachts"  method="post" >
            <!--<input type="hidden" id="hiddenYachtImg" name="hiddenYachtImg" th:value="${viewSelectedYacht.name}" />-->
          <button id="hiddenYachtImg" name="hiddenYachtImg" th:value="${viewSelectedYacht.name}">
              <img th:attr="src=${viewSelectedYacht.photo}"  width="400" height="280"/>
          </button>
        <!--</a>-->
                </form>
        </td>
        <td width="100" th:text="${viewSelectedYacht.name}">Name</td>
        <td width="100" th:text="${viewSelectedYacht.descriptions}">Name</td>

        <td align="center" width="100" th:text="${viewSelectedYacht.number}">

           <!--&lt;!&ndash;озн, что *{moduleAtributeQuantity} присоединяется к  baySuccessfulCars&ndash;&gt;-->
        <!--<input type="number" id="quantityYachts" nameYachts="quantityYachts" class="buttons" min="1"-->
                                <!--th:attr="max=${viewSelectedYacht.quantity}"-->
                              <!--style="text-align: center"  width="100" />-->
               </td>
        <td th:text="${viewSelectedYacht.price}">Name</td>
        <form action="buyYachts" th:object = "${baySuccessfulYachts}" method="post" >
        <td align="Center" width="80">
            <input type="hidden" id="hiddenYachtName" name="hiddenYachtName" th:value="${viewSelectedYacht.name}" />
            <input class="buttons" type="submit" th:attr="id=${viewSelectedYacht.name}" style="width: 60px" value="buy"/>

        </td>
        </form>
    </tr>
</table>
</center>
</body>
</html>