<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <script src="js/whisky.js"></script>
    <script src="js/jquery-1.12.3.min.js" ></script>
    <script src="js/jquery-ui.min.js"></script>
    <link href="js/jquery-ui.min.css" rel="stylesheet"/>
    <link href="css/back.css" rel="stylesheet"/>
    <link href="css/common.css" rel="stylesheet"/>
    <script src="js/modalWindow.js"></script>
    <script src="js/jquery.validate.js"></script>
    <script type="text/javascript" src="js/jquery.leanModal.min.js"></script>
    <link href="css/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="css/bootstrap-3.3.6-dist/js/bootstrap.min.js"/>
    <script async='async' src="js/shoppingCart.js"></script>

</head>
<body>
<h1 align="center">You selected this WHISKEY</h1>
<p align="center">
<button class="button" id="whiskyCart" onclick="cartOpen()" value="Cart">Cart</button>
</p>
<table align="center" border="1">
    <tr>
        <td align="center" width="100">Photo</td>
        <td align="center" width="100">Name</td>
        <td align="center" width="100">Describe</td>
        <td align="center" width="100">Available</td>
        <td align="center" width="100">Price</td>
        <td align="center" width="100">Buy</td>
    </tr>
    <!--<form action="buySuccessfulWhisky" method="post">-->
    <!--<form id="buySelectedWhiskyThroughJavaScript" method="post">-->

    <tr th:each="buySelectedWhisky : ${buySelectedWhisky}">
        <td align="center">
            <img th:attr="src=${buySelectedWhisky.photo}" id="photoImg" width="150" height="250"/>Photo</td>

        <td align="center" th:text="${buySelectedWhisky.nameWhisky}">Name</td>

        <td align="center" th:text="${buySelectedWhisky.describeWhisky}">Describe</td>
        <input type="hidden" name="quantityWhiskeyInDB" id="describeID" th:value="${buySelectedWhisky.describeWhisky}"/>

        <td align="center" th:text="${buySelectedWhisky.quantityWhisky}">
            <!--<input type="number" style="width: 100px" min="1" th:attr="max=${buySelectedWhisky.quantityWhisky}"-->
       <!--placeholder="Enter quantity" name="numberOrderWhisky"  />-->

        </td>

        <td align="center" th:text="${buySelectedWhisky.price}">

            Price</td>

        <td align="center">

                <input type="hidden" name="nameWhiskey" id="nameWhiskey" th:value="${buySelectedWhisky.nameWhisky}"/>
                <input type="hidden" name="quantityWhiskeyInDB" id="quantityWhiskeyInDB" th:value="${buySelectedWhisky.quantityWhisky}"/>
                <input type="hidden" name="photoId" id="photoId" th:value="${buySelectedWhisky.photo}"/>
            <input type="hidden" name="priceID" id="priceID" th:value="${buySelectedWhisky.price}"/>
            <input type="button" class="buttons"  data-toggle="modal" data-target="#go" style="width: 60px" value="Buy"/>


            <div class="modal fade" tabindex="-1" role="dialog" id="go">
                <div class="modal-dialog" align="left">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                                <span aria-hidden="true">&times;
                                </span>
                            </button>
                            <h4 class="modal-title">Service</h4>
                        </div>
                        <div class="modal-body">

            <div align="center">
             <table border="0">
               <tr>
                   <td>
                 <img  th:attr="src=${buySelectedWhisky.photo}" width="50" height="80"/>
                   </td>

                <!--<div style="border-left:1px solid red; padding:5px">-->
                <td class="verticalLine" >
                    <span th:text="${buySelectedWhisky.nameWhisky}"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 </td>
                <!--<div style="border-width: 0 0 0 1px;/*толщина*/ border-style: solid; padding-left: 10px;/*отступ слева*/">-->
                   <td class="verticalLine">
                <input  type="number" style="width: 100px" min="1" autofocus=""
                       th:attr="max=${buySelectedWhisky.quantityWhisky}" placeholder="Enter quantity"
                       name="numberOrderWhisky" id="numberOrderWhisky" required="" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   </td>
                   <td class="verticalLine" th:text="${buySelectedWhisky.price}">Price
                            <span id="changePrice"></span>
                   </td>

               </tr>

             </table>
            </div>

                <!--<td align="center">-->

                <!--&lt;!&ndash;<input type="hidden" name="quantityWhiskeyInDB" id="quantityWhiskeyInDB" th:value="${buySelectedWhisky.quantityWhisky}"/>&ndash;&gt;-->
                <!--<input type="button" class="buttons"    onclick="buyFromJS()" style="width: 60px" value="Buy"/>-->
                <!--</td>-->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary"  id="buyFromJS"  value="Buy"/>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

        </td>
    </tr>
    <!--</form>-->

</table>

</body>
</html>